*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

a {
  color: #0018AB;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  font-family: 'Open Sans Condensed';
  color: #000000;
  font-size: 200%;
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  text-align: center;
}

nav a:hover{
  color: #f599c0;
}


.current {
  background-color: #f599c0;
  font-family: 'Open Sans';
  font-weight: bold;
  border-style: solid;
  border-bottom: none;
  border-color: #000000;
  padding: 0px 2px 0px 2px;
  color: #000000;
  text-transform: uppercase;
}

body{
  background: #ffffff;
  color: #3c006f;
  padding-top: 0%;
}

a.skip{
  position: relative;
  left: -2000px;
}

a:focus{
  border: 5px solid black;
}

a.skip:focus{
  left: 10px;
  border: 2px solid black;
  background-color: #fff;
}

h1 {
  font-family: 'Open Sans Condensed';
  color: #ffffff;
  font-size: 300%;
  background-color: #000000;
  padding: 2% 0% 2% 2%;
  margin-top: 2%;
  text-align: center;
  border-style: solid;
  border-bottom-color: #A7A6AD;
  border-bottom-width: thin;
}

h2, h3 {
  font-family: 'Open Sans Condensed';
  color: #000000;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 200%;
}

h3 {
  color: #000;
  padding-top: 2%;
  font-size: 150%;
}

p {
  color: #000;
  font-family: 'Open Sans';
  padding-top: 2%;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 125%;
}

.homepage > p {
  background-color: rgba(242, 242, 242, 0.8);
  margin: 5%;
  padding: 5%;
  font-size: 175%;
}

.centered {
  text-align: center;
}

main {
  padding-top: 3%;
  padding-bottom: 10%;
  min-height: 80%;
  background-color: #000;
  background-image: url("../images/fancy-cushion.png");
}



img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2%;
  padding: 5%;

}

footer {
  background: #f599c0;
  height: auto;
  width: 100vw;
  bottom: 0;
  /*padding-top: 2vh;*/
	padding-bottom: 10vh;
  /*position: absolute;*/
}

/* Names to Know page flex styling */

.names_container, .my_story_p, .overall_my_story_container, .what_is_baton_divs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.names_container  div.twirler_div, .my_story_p, .intro_to_baton, .wuts_baton p, .com_twirl_div p {
  background-color: rgba(242, 242, 242, 0.8);
  /*color F39AC0*/
  border-style: solid;
  border-color: #F39AC0;
  margin: 4%;
  width: 75%;
  padding-bottom: 2%;
  /*border-radius: 2%;*/
}

.intro_to_baton, .wuts_baton p, .com_twirl_div p {
  width: 90%;
  margin: 2%;
}

.intro_to_baton p {
  padding: 2%;
}

.twirler_div p {
  padding: 4%;
}

.names_container p, .names_container h2, .my_story_p p {
  padding-bottom: 2%;
  width: 75vw;
  color: #000000;
}

.names_container > p {
  font-size: 250%;
  font-size: 200%;
  background-color: rgba(242, 242, 242, 0.8);
  border-radius: 2%;
  /*text-align: center;*/
}

.wuts_baton > h2 {
  font-size: 250%;
  padding-bottom: 2%;
}

.baton_horiz {
  width: 100vh;
}

.wuts_baton h3, {
  margin-left: 2%;
}

h3 span, h2 span{
  margin-left: 1%;
  padding: 1%;
  padding-bottom: 0%;
  margin-bottom: -1%;
  color: #fff;
  /*background-color: #EDDCE3;
  border-color: #EDDCE3;*/
  /*border-top-left-radius: 2%;
  border-top-right-radius: 2%;*/
}

.wuts_baton h2 {
  color: #fff;
  padding-left: 5%;
  background-color: #000;
}

.wuts_baton p, .com_twirl_div p {
  margin-top: 1.5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 3%;
  /*border-top-left-radius: 0%;*/
}

iframe {
  /*height: 50%;*/
  width: 50%;
  border: 0;
}

.overall_my_story_container {
  margin-top: -3%;
}

/*flipcard*/
img .flipcard_image {
  max-width: 200%;
  max-height: 200%;
  /* padding: 1%; */

}

.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 30vh;
  perspective: 1000px;
}

.flip-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-top: 2%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner, .flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #fff;
  z-index: 1;
}

.flip-card-front:hover {
  z-index: 1;
}

.flip-card-back:hover {
  z-index: 2;
}

.flip-card-back:hover p {
  padding: 5%;
  font-size: 100%;
  color: #000;
  transform: rotateY(180deg);
  z-index: 2;
}
/*end of flipcard*/
@media only screen and (min-width: 600px){
  /* for tablets */
    .overall_my_story_container {
        display: flex;
        flex-direction: column;
    }
    .my_story_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-top: 2%;
  }
}

@media only screen and (min-width: 768px){
  /* for desktop */
  nav {
    display: block;
    margin-top: 0;
    background-color: #fff;
  }

  nav a {
    padding: 1%;
    font-size: 150%;
    background-color: #fff;
    color: #000;
    margin-bottom: 0%;
    margin-top: 0%;
  }


  .current {
    padding: 1%;
    /*border-bottom-style: none;*/
  }

  h1 {
    margin-top: 0%;
  }

  .names_container h2 {
    font-size: 200%;
  }

  .names_container > p {
    text-align: center;
    font-size: 150%;
  }

  div.twirler_div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: -2%;
    margin-bottom: -2%;
  }

  div.twirler_div div > h2, div.twirler_div div > p {
    grid-column-start: 1;
    text-align: left;
    padding-bottom: 0%;
    width: 100%;
  }

  div.twirler_div > iframe {
    grid-column-start: 2;
    align-self: flex-start;
    padding: 5% 5% 0% 0%;
    width: 100%;
  }

  /*sticky nav*/
  /* applied after scroll height reached */
  /* .fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
    padding-bottom: 10vh;
  } */
  /* Style the navbar */
  nav {
    overflow: hidden;
    justify-content: space-between;
  }

  /* Navbar links */
  nav a, nav div{
    float: left;
    text-decoration: none;
  }

  /* Page content */
  /* .content {
    padding: 10%;
  } */

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
  }

  .sticky .current {
    border-top: none;
    border-bottom: none;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 200%;
  }

}

@media only screen and (min-width: 1024px){
      /* ---- My Story page picture styling ----- */
	.overall_my_story_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .my_story_p {
    width: 100%;
      margin-right: 5%;
  }
  .my_story_p p {
    width: 100%;
  }
}

@media print {
       .qr_code{
            background-image: url('http://chart.googleapis.com/chart?cht=qr&chs=200x200&choe=UTF-8&chld=H&chl=https://shaelynalbrecht.github.io')
            }
}
